.modalBack{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
    z-index: 10;
}

.modalContainer{
    background-color: white;
    border-radius: 16px;
    width: 50%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.modalXClose{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.planetBg{
    background: black;
    height: 35%;
    background-image: url(../../assets/images/modalBg.svg);
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 8rem;
}

.planetImg{
    margin: 0 auto;
    max-width: 35%;
    position: relative;
    top: 1rem;
    box-shadow: 7px 7px 5px #70707096;
    border-radius: 90%;
}

.modal{
    margin: 0 auto;
    max-width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  
  .modal h1 {
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 2.18rem;
    font-weight: bold;
    text-align: center;
  }
  
  .modal p {
    color: #2A2A2A;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-top: 1rem;
  }


.buttonCancel{
    background-color: #6A7EB1;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    padding: 1rem 1.8rem 1rem 1.8rem;
    border-radius: 5px;
    cursor: pointer;

}

.buttonCancel:hover{
    background-color: tomato;
    color: black;
    border: 1px solid black;
}

.buttonDelete{
    background-color: white;
    border: 1px solid #6A7EB1;
    padding: 1rem 1.8rem 1rem 1.8rem;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #6A7EB1;
    cursor: pointer;
}

.buttonDelete:hover{
    background-color: tomato;
    color: black;
}

.buttonsContainer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}
  

