body{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
}

.container p{
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    margin-right: 5rem;
    cursor: pointer;

}

.logo{
    padding-left: 3rem;
    width: 200px;
}

.personIco{
    width: 25px;
}

.user p{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}